@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100vw;
  }
}

/* Segundo video container */
.container-video_gestor {
  position: relative;
  width: 100%;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vw;
  overflow: hidden;
  /* padding: 20px; */
}

.bg-banner_gestor {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}

.bg-video_gestor {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  object-fit: cover;
  z-index: 0;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.sub-title_banner {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 0 auto;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .banner-title {
    font-size: 2rem;
  }

  .sub-title_banner {
    font-size: 1rem;
    padding: 0 20px;
  }
}
